body {
  background-color: rgb(40, 40, 40);
}

.tempo {
  display: flex;
  justify-content: space-around;
  user-select: none;
}

.tempo__slow {
  font-weight: bold;
  font-size: 60px;
  width: 80px;
  height: 80px;
  background-color: lightgray;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  line-height: 80px;
}

.disabled {
  opacity: 0.3;
}

.tempo__fast {
  font-weight: bold;
  font-size: 60px;
  width: 80px;
  height: 80px;
  background-color: lightgray;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}

.tempo__value {
  font-size: 80px;
  user-select: none;
  color: lightgray;
}

.mtr {
  color: darkslategray;
  text-align: center;
  user-select: none;
  margin-bottom: 50px;
}

.mtr > div {
  justify-content: space-evenly;
  display: flex;
}

.ripple {
  font-size: 40px;
  color: rgb(40, 40, 40);
  user-select: none;
  margin: 0 auto;
  text-align: center;
  /* animation-name: ripple;
  animation-duration: 0.3s; */
}

.time {
  color: rgb(255, 196, 0);
  /* animation-name: pulsate;
  animation-duration: 0.5s;
  animation-timing-function: ease-out; */
  /* animation-iteration-count: infinite; */
}

#btn {
  font-size: 60px;
  width: 100px;
  height: 100px;
  user-select: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}

#pointers {
  font-size: 50px;
}

.active {
  text-shadow: 0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange,
  0 0 3px orange;
}

@keyframes beat {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes ripple {
  0%   {
    color: cornflowerblue;
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(10, 10); opacity: 0.0;
  }
}